page-welcome {

.col-33 {
  width: 33%;
  float:left;
}

.center {
    text-align: center;
    color: black;
}

ion-header{
  background-color: rgba(25, 156, 93, .8);

}

.toolbar-background {
  background-color: rgba(25, 156, 93, .8);
}

ion-title{
  background-color: rgba(25, 156, 93, .8);
}
ion-list {

border-top: 1px;
border-bottom: 1px;

  div{
    border-width: 2px;  
    border-style:solid;
    border-color:rgba(25, 156, 93, .8);

  }



  img {
  position: relative;
  align-items: center;
  width: 38%;
  height: 27%;
  margin-top: -10px
     }

}

  font-weight: 300;

 

  ion-slide {
    position: relative;
    background-size: cover;

    p {
      display: inline-block;
      
      border: 2px groove black;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(50, 100, 0, .8);
      color: #FFFFFF;
      padding: 28px 28px 48px 28px;
      font-size: 2.7rem;
      margin-bottom: 0;
    }

    img {
      width: 100px;
      height: 50px;
      margin-top: -150px
    }

    div {
    border-width: 5px;  
    border-style:groove;
    }

  }

  .swiper-pagination-bullet {
    background: white;
  }

}