page-welcome {

.col-33 {
  width: 33%;
  float:left;
}

.center {
    text-align: center;
    color: black;
}

.big {
  width: 20;
}

.color1 {
  color: white;
  background-color: rgba(70, 175, 120, .8);
}

ion-list {

border-top: 1px;
border-bottom: 1px;

  div{
    border-width: 2px;  
    border-style:solid;
    border-color:rgba(70, 175, 120, .8);

  }



  img {
  position: relative;
  align-items: center;
  width: 40%;
  height: 20%;
  margin-top: -10px
     }

}

  font-weight: 300;

  .swiper-pagination-bullet {
    background: white;
  }

}